@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide elements with pdf-exclude class when printing */
@media print {
  .pdf-exclude {
    display: none !important;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide elements with pdf-exclude class when printing */
@media print {
  .pdf-exclude {
    display: none !important;
  }
}
